{% extends 'index.html' %}
{% block title %}
<title>Essence - Fashion World | Reset Password</title>
{% endblock%}
{% block body %}
<div class="container-fluid w-100 py-3">
    <div class="center w-50 m-auto border p-5">
        <h6 class="text-center"><span class="text-primary" style="font-size: 25px;">Reset</span> Your Password</h6>
        {% if messages %}
            {% for m in messages %}
            <div class="alert alert-danger text-center alert-dismissible fade show" role="alert">
                {{m}}
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            {% endfor %}
        {% endif %}
        <form action="/forget-1/" method="post">
            {% csrf_token %}
            <div class="mb-3">
                <label for="username" class="form-label">UserName</label>
                <input type="text" class="form-control" name="username" id="username" placeholder="Enter User Name : ">
            </div>
            <div class="mb-3">
                <button type="submit" class="btn btn-primary w-100 btn-sm">Send OTP</button>
            </div>
        </form>
    </div>
</div>
{% endblock %}