{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    {% block title %}
    <title>Essence - Fashion World | Home</title>
    {% endblock %}
    <link rel="icon" href="/static/img/core-img/favicon.ico">
    <link rel="stylesheet" href="/static/css/core-style.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.1.3/dist/css/bootstrap.min.css"
        integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" />
</head>

<body>
    <!-- ##### Header Area Start ##### -->
    <header class="header_area">
        <div class="classy-nav-container breakpoint-off d-flex align-items-center justify-content-between">
            <!-- Classy Menu -->
            <nav class="classy-navbar" id="essenceNav">
                <!-- Logo -->
                <a class="nav-brand" href="/"><img src="/static/img/core-img/logo.png" alt=""></a>
                <!-- Navbar Toggler -->
                <div class="classy-navbar-toggler">
                    <span class="navbarToggler"><span></span><span></span><span></span></span>
                </div>
                <!-- Menu -->
                <div class="classy-menu">
                    <!-- close btn -->
                    <div class="classycloseIcon">
                        <div class="cross-wrap"><span class="top"></span><span class="bottom"></span></div>
                    </div>
                    <!-- Nav Start -->
                    <div class="classynav">
                        <ul>
                            <li><a href="/">Home</a></li>
                            <li><a href="/shop/All/All/All/">Shop</a>
                                <div class="megamenu">
                                    <ul class="single-mega cn-col-3">
                                        <li class="title"><a href="/shop/Female/All/All/"
                                                style="margin-left: -10px;">Women's Collection</a></li>
                                        {% for item in subcategory%}
                                        <li><a href="/shop/Female/{{item.name}}/All/">{{item.name}}</a></li>
                                        {% endfor %}
                                    </ul>
                                    <ul class="single-mega cn-col-3">
                                        <li class="title"><a href="/shop/Male/All/All/"
                                                style="margin-left: -10px;">Men's Collection</a></li>
                                        {% for item in subcategory%}
                                        <li><a href="/shop/Male/{{item.name}}/All/">{{item.name}}</a></li>
                                        {% endfor %}
                                    </ul>
                                    <ul class="single-mega cn-col-3">
                                        <li class="title"><a href="/shop/Kids/All/All/"
                                                style="margin-left: -10px;">Kids's Collection</a></li>
                                        {% for item in subcategory%}
                                        <li><a href="/shop/Kids/{{item.name}}/All/">{{item.name}}</a></li>
                                        {% endfor %}
                                    </ul>
                                    <!-- <div class="single-mega cn-col-4 d-flex">
                                        <img src="/static/img/bg-img/bg-female.jpg" style="height:200px" alt="">
                                        <img src="/static/img/bg-img/bg-male.jpg" style="height:200px" alt="">
                                        <img src="/static/img/bg-img/bg-kids.jpg" style="height:200px" alt="">
                                    </div> -->
                                </div>
                            </li>
                            <!-- <li><a href="#">Pages</a>
                                <ul class="dropdown">
                                    <li><a href="index.html">Home</a></li>
                                    <li><a href="shop.html">Shop</a></li>
                                    <li><a href="single-product-details.html">Product Details</a></li>
                                    <li><a href="checkout.html">Checkout</a></li>
                                    <li><a href="blog.html">Blog</a></li>
                                    <li><a href="single-blog.html">Single Blog</a></li>
                                    <li><a href="regular-page.html">Regular Page</a></li>
                                    <li><a href="contact.html">Contact</a></li>
                                </ul>
                            </li> -->
                            <!-- <li><a href="blog.html">Blog</a></li> -->
                            <li><a href="/contact/">Contact</a></li>
                        </ul>
                    </div>
                    <!-- Nav End -->
                </div>
            </nav>

            <!-- Header Meta Data -->
            <div class="header-meta d-flex clearfix justify-content-end">
                <!-- Search Area -->
                <div class="search-area">
                    <form action="/search/" method="post">
                        {% csrf_token %}
                        <input type="search" name="search" id="headerSearch" placeholder="Enter Something to Search">
                        <button type="submit"><i class="fa fa-search" aria-hidden="true"></i></button>
                    </form>
                </div>
                <!-- Favourite Area -->
                <!-- User Login Info -->
                {% if request.user.is_authenticated %}
                <div class="user-login-info">
                    <a href="/profile/"><i class="bi bi-person-circle" style="font-size: 20px;"></i> Profile</a>
                </div>
                {% endif %}
                <div class="favourite-area">
                    {% if request.user.is_authenticated %}
                    <a href="/logout/"><i class="bi bi-box-arrow-in-right" style="font-size: 20px;"></i> Logout</a>
                    {% else %}
                    <a href="/login/"><i class="bi bi-box-arrow-in-right" style="font-size: 20px;"></i> Login</a>
                    {% endif %}
                </div>
                <!-- Cart Area -->
                {% if request.user.is_authenticated %}
                <div class="cart-area">
                    <a href="#" id="essenceCartBtn"><i class="bi bi-cart-check"
                            style="font-size: 20px;"></i><span>{{request.session.cartCount}}</span></a>
                </div>
                {% endif %}
            </div>

        </div>
    </header>
    <br><br><br><br>
    <!-- ##### Header Area End ##### -->

    <!-- ##### Right Side Cart Area ##### -->
    <div class="cart-bg-overlay"></div>

    <div class="right-side-cart-area">

        <!-- Cart Button -->
        <div class="cart-button">
            <a href="#" id="rightSideCart"><img src="/static/img/core-img/bag.svg" alt=""> <span>{{request.session.cartCount}}</span></a>
        </div>
        {% if request.session.total %}
        <div class="cart-content d-flex">

            <!-- Cart List Area -->
            <div class="cart-list">
                <!-- Single Cart Item -->
                {% for key,value in request.session.cart.items%}
                <div class="single-cart-item">
                    <a href="#" class="product-image">
                        <img src="{{value.pic}}" class="cart-thumb" alt="">
                        <!-- Cart Item Desc -->
                        <div class="cart-item-desc">
                            <h6>{{value.name}}</h6>
                            <p class="size">Size: {{value.size}}</p>
                            <p class="color">Color: {{value.color}}</p>
                            <p class="price">&#8377;{{value.price}} X {{value.qty}} = {{value.total}}</p>
                        </div>
                    </a>
                </div>           
                {% endfor %}    
            </div>

            <!-- Cart Summary -->
            <div class="cart-amount-summary">

                <h2>Summary</h2>
                <ul class="summary-table">
                    <li><span>Total:</span> <span>&#8377;{{request.session.total}}</span></li>
                    <li><span>Shipping:</span> <span>&#8377;{{request.session.shipping}}</span></li>
                    <li><span>Final Amount:</span> <span>&#8377;{{request.session.final}}</span></li>
                </ul>
                <div class="checkout-btn mt-100">
                    <a href="/cart/" class="btn essence-btn">Cart</a>
                    <a href="/checkout/" class="btn essence-btn">check out</a>
                </div>
            </div>
        </div>
        {% else %}
        <div  class="text-center p-5">
            <h3>No Items in Cart</h3>
            <a href="/shop/All/All/All" class="btn btn-primary">Shop Now</a>
        </div>
        {% endif %}
    </div>
    <!-- ##### Right Side Cart End ##### -->

    {% block body %}
    <!-- ##### Welcome Area Start ##### -->
    <section class="welcome_area bg-img background-overlay" style="background-image: url(static/img/bg-img/bg-1.jpg);">
        <div class="container h-100">
            <div class="row h-100 align-items-center">
                <div class="col-12">
                    <div class="hero-content">
                        <h2>New Collection</h2>
                        <a href="/shop/All/All/All/" class="btn essence-btn">view collection</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- ##### Welcome Area End ##### -->

    <!-- ##### Top Catagory Area Start ##### -->
    <div class="top_catagory_area mt-2 clearfix">
        <div class="container">
            <div class="row justify-content-center">
                <!-- Single Catagory -->
                <div class="col-12 col-sm-6 col-md-4">
                    <div class="single_catagory_area d-flex align-items-center justify-content-center bg-img"
                        style="background-image: url(static/img/bg-img/bg-male.jpg);">
                        <div class="catagory-content">
                            <a href="/shop/Male/All/All/">Male</a>
                        </div>
                    </div>
                </div>
                <!-- Single Catagory -->
                <div class="col-12 col-sm-6 col-md-4">
                    <div class="single_catagory_area d-flex align-items-center justify-content-center bg-img"
                        style="background-image: url(static/img/bg-img/bg-female.jpg);">
                        <div class="catagory-content">
                            <a href="/shop/Female/All/All/">Female</a>
                        </div>
                    </div>
                </div>
                <!-- Single Catagory -->
                <div class="col-12 col-sm-6 col-md-4">
                    <div class="single_catagory_area d-flex align-items-center justify-content-center bg-img"
                        style="background-image: url(static/img/bg-img/bg-kids.jpg);">
                        <div class="catagory-content">
                            <a href="/shop/Kids/All/All/">Kids</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- ##### Top Catagory Area End ##### -->

    <!-- ##### CTA Area Start ##### -->
    <!-- <div class="cta-area">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="cta-content bg-img background-overlay"
                        style="background-image: url(static/img/bg-img/bg-5.jpg);">
                        <div class="h-100 d-flex align-items-center justify-content-end">
                            <div class="cta--text">
                                <h6>-60%</h6>
                                <h2>Global Sale</h2>
                                <a href="#" class="btn essence-btn">Buy Now</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div> -->
    <!-- ##### CTA Area End ##### -->

    <!-- ##### New Arrivals Area Start ##### -->
    <section class="new_arrivals_area mt-2 p-1 clearfix">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="section-heading text-center">
                        <h2>Popular Products</h2>
                    </div>
                </div>
            </div>
        </div>

        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="popular-products-slides owl-carousel">

                        <!-- Single Product -->
                        {% for item in data %}
                        <div class="single-product-wrapper">
                            <!-- Product Image -->
                            <div class="product-img">
                                <img src="{{item.pic1.url}}" style="height:300px" alt="">
                                <!-- Hover Thumb -->
                                <img class="hover-img" src="{{item.pic2.url}}" style="height:300px" alt="">
                                <!-- Favourite -->
                                <!-- Product Badge -->
                                <div class="product-badge offer-badge">
                                    <span>-{{item.discount}}%</span>
                                </div>
                            </div>
                            <!-- Product Description -->
                            <div class="product-description">
                                <span>{{item.maincategory}}/{{item.subcategory}}</span>
                                <a href="/single-product/{{item.id}}/">
                                    <h6>{{item.name}}</h6>
                                </a>

                                <p class="product-price"><span
                                        class="old-price">&#8377;{{item.baseprice}}</span>&#8377;{{item.finalprice}}</p>
                                <!-- <p class="product-price">{{item.discount}}% Off</p> -->
                                <!-- Hover Content -->
                                <div class="hover-content">
                                    <!-- Add to Cart -->
                                    <div class="add-to-cart-btn">
                                        <a href="/single-product/{{item.id}}/" class="btn essence-btn">Add to Cart</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- ##### New Arrivals Area End ##### -->

    <!-- ##### Brands Area Start ##### -->
    <div class="brands-area d-flex align-items-center p-4 justify-content-between">
        <!-- Brand Logo -->
        {% for item in brand %}
        <div class="single-brands-logo">
            <a href="/shop/All/All/{{item.name}}/">
                <img src="{{item.pic.url}}" style="height:70px" alt="">
            </a>
        </div>
        {% endfor %}
    </div>
    <!-- ##### Brands Area End ##### -->
    {% endblock %}
    <!-- ##### Footer Area Start ##### -->
    <footer class="footer_area clearfix">
        <div class="container">
            <div class="row">
                <!-- Single Widget Area -->
                <div class="col-md-6">
                    <div class="single_widget_area d-flex mb-30">
                        <!-- Logo -->
                        <div class="footer-logo mr-50">
                            <a href="#"><img src="/static/img/core-img/logo2.png" alt=""></a>
                        </div>
                        <!-- Footer Menu -->
                        <div class="footer_menu">
                            <ul>
                                <li><a href="/">Home</a></li>
                                <li><a href="/shop/">Shop</a></li>
                                <li><a href="/contact/">Contact</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="single_widget_area">
                        <div class="footer_heading mb-30">
                            <h6>Subscribe</h6>
                        </div>
                        <div class="subscribtion_form">
                            <form action="#" method="post">
                                <input type="email" name="mail" class="mail" placeholder="Your email here">
                                <button type="submit" class="submit"><i class="fa fa-long-arrow-right"
                                        aria-hidden="true"></i></button>
                            </form>
                        </div>
                    </div>
                </div>
                <!-- Single Widget Area -->
                <!-- <div class="col-12 col-md-6">
                    <div class="single_widget_area mb-30">
                        <ul class="footer_widget_menu">
                            <li><a href="#">Order Status</a></li>
                            <li><a href="#">Payment Options</a></li>
                            <li><a href="#">Shipping and Delivery</a></li>
                            <li><a href="#">Guides</a></li>
                            <li><a href="#">Privacy Policy</a></li>
                            <li><a href="#">Terms of Use</a></li>
                        </ul>
                    </div>
                </div> -->
            </div>

            <div class="row align-items-end">
                <!-- Single Widget Area -->

                <!-- Single Widget Area -->
                <div class="col-12 col-md-6">
                    <div class="single_widget_area">
                        <div class="footer_social_area">
                            <a href="#" data-toggle="tooltip" data-placement="top" title="Facebook"><i
                                    class="fa fa-facebook" aria-hidden="true"></i></a>
                            <a href="#" data-toggle="tooltip" data-placement="top" title="Instagram"><i
                                    class="fa fa-instagram" aria-hidden="true"></i></a>
                            <a href="#" data-toggle="tooltip" data-placement="top" title="Twitter"><i
                                    class="fa fa-twitter" aria-hidden="true"></i></a>
                            <a href="#" data-toggle="tooltip" data-placement="top" title="Pinterest"><i
                                    class="fa fa-pinterest" aria-hidden="true"></i></a>
                            <a href="#" data-toggle="tooltip" data-placement="top" title="Youtube"><i
                                    class="fa fa-youtube-play" aria-hidden="true"></i></a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row mt-2">
                <div class="col-md-12 text-center">
                    <p>
                        Copyright &copy;
                        <script>document.write(new Date().getFullYear());</script> All rights reserved Essence
                    </p>
                </div>
            </div>

        </div>
    </footer>

    <script src="/static/js/jquery/jquery-2.2.4.min.js"></script>
    <script src="/static/js/popper.min.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>
    <script src="/static/js/plugins.js"></script>
    <script src="/static/js/classy-nav.min.js"></script>
    <script src="/static/js/active.js"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.3/dist/umd/popper.min.js"
        integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.1.3/dist/js/bootstrap.min.js"
        integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
        crossorigin="anonymous"></script>
</body>

</html>